src-*
src/*.o
src/*.so
.project
.settings/*
.Rproj.user
.Rbuildignore
rSynapseClient.Rproj
man/AccessControlList.Rd
man/ResourceAccess.Rd
man/Row.Rd
man/RowReference.Rd
man/RowReferenceSet.Rd
man/Settings.Rd
man/TableColumn.Rd
man/TableRowSet.Rd
man/TypedList.Rd
man/AsynchUploadToTableRequestBody.Rd
man/AsynchUploadToTableResponseBody.Rd
man/AsynchronousJobStatus.Rd
man/AsynchronousRequestBody.Rd
man/AsynchronousResponseBody.Rd
inst/resources/Register.json
inst/resources/schema

