## imports from other packages
import(RCurl, methods)
importFrom(rjson, toJSON, fromJSON)
importFrom(tools, md5sum)
importFrom(digest, digest, hmac)
importFrom(utils, edit, compareVersion, packageDescription, install.packages, installed.packages, read.table)

## package has a dynamic library
useDynLib(synapseClient)

## commands defined in C-4
export(
  "synGet",
  "synStore",
  "getFileLocation",
  "submit",
  "synRestGET",
  "synRestDELETE",
  "synRestPOST",
  "synRestPUT",
  "synGetWiki",
  "synGetUserProfile",
  "synGetSubmission",
  "synGetSubmissionStatus",
  "synGetEvaluation",
  "synGetEvaluationByContentSource", 
  "synGetSubmissions",
  "synGetWikiHeaders",
  "synDelete",
  "listObjects",
  "synGetActivity",
  "synAnnot",
  "synAnnot<-",
  "onWeb",
  "identical",
  "synCreateEntityACL",
  "synGetEntityACL",
  "synUpdateEntityACL",
  "synDeleteEntityACL"
)

## S3 utility methods
export(
  "synapseResetEndpoints", 
  "synapseAuthServiceEndpoint", 
  "synapseRepoServiceEndpoint",
  "synapseFileServiceEndpoint",
  "synapsePortalEndpoint",
  "synapseLogin", 
  "synapseLogout",  
  "synapseCacheDir",
  "hmacSecretKey",
  "invalidateAPIKey", 
  "setApiCredentials",
  "synapseQuery",
  "synQuery",
  "touOnWeb",
  "sendMessage",
  "synTableQuery",
  "synDeleteRows",
  "synDownloadTableFile", # NOTE: This function is deprecated
  "synDownloadTableColumns",
  "synGetColumns",
  "synAddColumn",
  "synRemoveColumn"
)

## Synapse object constructors 
export(
	"File",
	"Folder",
	"Project",
	"Activity",
	"Evaluation",
	"WikiPage",
	"UserProfile",
	"ResourceAccess",
	"TableSchema",
	"TableRowSet",
	"TableColumn",
	"Table",
	"Row",
	"RowReference",
	"RowReferenceSet",
	"AccessControlList",
	"ResourceAccessList",
	"UserPreferenceList",
	"RowList",
	"as.ResourceAccessList",
	"as.UserPreferenceList",
	"as.RowList",
	"UserPreferenceBoolean",
	"Settings",
  	"length.QueryResult",
  	"names.QueryResult"
)

## entity S4 methods
exportMethods(
  "getParentEntity",
	"getActivity",
	"generatedBy",
	"generatedBy<-",
	"used",
	"used<-",
	"executed",
	"executed<-",
	# methods for TypeList
	"set",
	"getList",
	"append",
	"identical",
  	"as.tableColumns"
)

## entity property/annotation setters and getters
exportMethods(
  "annotValue<-",
  "annotValue", 
  "annotations", 
  "annotations<-",
  "annotationValues<-", 
  "annotationValues",
  "annotationNames",
  "deleteProperty", 
  "deleteAnnotation", 
  "propertyValue", 
  "propertyValue<-", 
  "propertyValues<-", 
  "propertyValues", 
  "properties",
  "propertyNames"
)

exportMethods(
	"synGetAnnotations",
	"synSetAnnotations<-",
	"synGetProperties",
	"synSetProperties<-",
	"synGetAnnotation",
	"synSetAnnotation<-",
	"synGetProperty",
	"synSetProperty<-"
)

export(
	"synSetEndpoints",
	"synGetEndpoints"
)


# Methods used on deprecated Synapse objects (but left in code base for backward compatibility)
exportMethods(
  "addFile",
  "addObject",
  "deleteObject",
  "getObject",
  "renameObject",
  "storeEntity", 
  "getEntity", 
  "deleteEntity", 
  "createEntity", 
  "updateEntity", 
  "downloadEntity", 
  "loadEntity"
)

