## imports from other packages
import(RCurl, Biobase, methods, affy)
importFrom(RJSONIO, toJSON, fromJSON, emptyNamedList)
importFrom(tools, md5sum)
importFrom(digest, digest, hmac)
importFrom(utils, edit, compareVersion)

## package has a dynamic library
useDynLib(synapseClient)

## add'l commands defined in C-4
export(
  File,
  synGet,
  synStore,
  getFileLocation,
  submit,
  synRestGET,
  synRestDELETE,
  synRestPOST,
  synRestPUT,
  WikiPage,
  synGetWiki,
  synGetUserProfile,
  synGetSubmission,
  synGetSubmissionStatus,
  synGetEvaluation,
  synGetSubmissions,
  synGetOwnSubmissions,
  synGetParticipants,
  synGetWikiHeaders,
  synDelete
)

export(onWeb)


## S3 utility methods
export(
  synapseResetEndpoints, 
  synapseAuthServiceEndpoint, 
  synapseRepoServiceEndpoint,
  synapseFileServiceEndpoint,
  synapsePortalEndpoint,
  synapseLogin, 
  synapseLogout,  
  synapseCacheDir,
  hmacSecretKey,
  edit,
  setApiCredentials,
  synapseQuery,
  available.versions,
  touOnWeb
)

## S3 convenience methods
##export(getDatasets)
export(as.environment.EnhancedEnvironment,as.environment.GlobalCache, as.list.SimplePropertyOwner, 
as.list.SynapseAnnotations, as.list.TypedPropertyStore, as.environment.EnhancedEnvironment,
length.EnhancedEnvironment, names.CachingObjectOwner, names.EnhancedEnvironment, names.LocationableWithoutBinaries,
names.Locationable,File,getPackageName.EnhancedEnvironment, getPackageName.ArchiveOwner,
  as.environment.ArchiveOwner, edit.Code, names.Entity,
  
  names.QueryResult,
  as.data.frame.QueryResult,
  length.QueryResult,
  dim.QueryResult,
  as.list.SynapseProperties,
  names.SynapseProperties,
  synapseExecute)

## S4 convenience methods
##exportMethods(getDatasetLayers)

## S4 entity constructors export methods starting with a capital letter. this is a hack.
exportPattern("^[A-Z]")

## entity S4 methods
exportMethods(
  storeEntityFiles,
  storeEntityObjects,
  storeEntity,
##  copyEntity, 
  getEntity, 
  deleteEntity, 
  createEntity, 
  updateEntity, 
  downloadEntity, 
  loadEntity, 
  getParentEntity,
  files,
  attach,
  detach,
  setPackageName,
  getPackageName,
  objects,
	getActivity,
	generatedBy,
	"generatedBy<-",
	"used",
	"used<-"
  )

## methods for managing layer files
exportMethods(
  addFile,
  deleteFile,
  addGithubTag,
  moveFile,
  cacheDir,
  getFileCache
) 

exportMethods(
  addObject,
  deleteObject,
  getObject,
  renameObject
)

## entity property/annotation setters and getters
exportMethods(
  "annotValue<-",
  annotValue, 
  annotations, 
  "annotations<-",
  "annotationValues<-", 
  annotationValues,
  annotationNames
 )
 	
exportMethods(
  deleteProperty, 
  deleteAnnotation, 
  propertyValue, 
  "propertyValue<-", 
  "propertyValues<-", 
  propertyValues, 
  properties,
  propertyNames
)

