## imports from other packages
import(RCurl, methods)
importFrom(RJSONIO, toJSON, fromJSON, emptyNamedList)
importFrom(tools, md5sum)
importFrom(digest, digest, hmac)
importFrom(utils, edit, compareVersion, packageDescription, install.packages, installed.packages)

## package has a dynamic library
useDynLib(synapseClient)

## commands defined in C-4
export(
  "synGet",
  "synStore",
  "getFileLocation",
  "submit",
  "synRestGET",
  "synRestDELETE",
  "synRestPOST",
  "synRestPUT",
  "synGetWiki",
  "synGetUserProfile",
  "synGetSubmission",
  "synGetSubmissionStatus",
  "synGetEvaluation",
  "synGetEvaluationByContentSource", 
  "synGetSubmissions",
  "synGetParticipants",
  "synGetWikiHeaders",
  "synDelete",
  "listObjects",
  "synGetActivity",
  "synAnnot",
  "synAnnot<-",
  "onWeb"
)

## S3 utility methods
export(
  "synapseResetEndpoints", 
  "synapseAuthServiceEndpoint", 
  "synapseRepoServiceEndpoint",
  "synapseFileServiceEndpoint",
  "synapsePortalEndpoint",
  "synapseLogin", 
  "synapseLogout",  
  "synapseCacheDir",
  "hmacSecretKey",
  "invalidateAPIKey", 
  "setApiCredentials",
  "synapseQuery",
  "synQuery",
  "touOnWeb",
  "sendMessage"
)

## S3 convenience methods
export(
  "synapseExecute"
)

## Synapse object constructors 
export(
	"File",
	"Folder",
	"Project",
	"Activity",
	"Evaluation",
	"WikiPage",
	"TableColumn",
	"UserProfile",
	"ResourceAccess",
	"AccessControlList",
	"TableSchema",
	"TableRowSet",
	"TableColumn",
	"Row",
	"RowReference",
	"RowReferenceSet",
	"CharacterList",
	"UserPreferenceBoolean",
	"UserPreferenceList",
	"RowList",
	"Settings"
)

## entity S4 methods
exportMethods(
  "getParentEntity",
	"getActivity",
	"generatedBy",
	"generatedBy<-",
	"used",
	"used<-",
	"executed",
	"executed<-",
	# methods for TypeList
	"add",
	"set",
	"getList"
)

## entity property/annotation setters and getters
exportMethods(
  "annotValue<-",
  "annotValue", 
  "annotations", 
  "annotations<-",
  "annotationValues<-", 
  "annotationValues",
  "annotationNames",
  "deleteProperty", 
  "deleteAnnotation", 
  "propertyValue", 
  "propertyValue<-", 
  "propertyValues<-", 
  "propertyValues", 
  "properties",
  "propertyNames"
)

exportMethods(
	"synGetAnnotations",
	"synSetAnnotations<-",
	"synGetProperties",
	"synSetProperties<-",
	"synGetAnnotation",
	"synSetAnnotation<-",
	"synGetProperty",
	"synSetProperty<-"
)

export(
	"synSetEndpoints",
	"synGetEndpoints"
)


#####
## TO BE DEPRECATED
#####

### DEPRECATED FUNCTIONS
###  These functions have .Rd files, but are deprecated **and will ultimately be removed**
###  Removing from export() requires also removing unit and integration tests which use them
###  B. Bot -- these are functions that are used internally, but do not need to be exported / exposed to users
export(
  "as.environment.EnhancedEnvironment",
  "as.environment.GlobalCache", 
  "as.environment.ArchiveOwner", 
  "as.list.SimplePropertyOwner", 
  "as.list.SynapseAnnotations", 
  "as.list.TypedPropertyStore", 
  "as.list.SynapseProperties",
  "length.EnhancedEnvironment", 
  "length.QueryResult",
  "names.CachingObjectOwner", 
  "names.EnhancedEnvironment", 
  "names.LocationableWithoutBinaries",
  "names.Locationable",
  "names.Entity",
  "names.QueryResult",
  "names.SynapseProperties",
  "getPackageName.EnhancedEnvironment", 
  "getPackageName.ArchiveOwner",
  "getPackageName",
  "setPackageName",
  "attach",
  "detach"
)

# Synapse object constructors to be deprecated (but left in code base for backward compatibility?)
export(
  "Data",
	"Study",
	"Code",
	"Link",
	"PhenotypeData",
	"GenotypeData",
	"ExpressionData",
	"RObject",
	"Summary",
	"GenomicData"
)
# Methods used on deprecated Synapse objects above (but left in code base for backward compatibility?)
exportMethods(
  "addFile",
  "deleteFile",
  "moveFile",
  "addObject",
  "deleteObject",
  "getObject",
  "renameObject",
  "storeEntity", 
  "getEntity", 
  "deleteEntity", 
  "createEntity", 
  "updateEntity", 
  "downloadEntity", 
  "loadEntity" 
)

